main {

    background: blueviolet;
    width: 1440px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.caixa-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: brown;
    width: 50%;
    height: 60%;
    margin-top: 4rem;

   
}

.caixa1 {

    background: blue;
}

.caixa2 {

    background: chocolate;
}