main {
  background: hsl(233, 47%, 7%);
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* bloco grande */

.caixa-principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background: brown;
  width: 60%;
  height: 58%;
  margin-top: 8%;
  margin-right: 5%;
}

/* primeiro bloco */

.caixa1 {
  width: 50%;
  background: hsl(244, 38%, 16%);
  padding-top: 5%;
}

.caixa1 h1 {
  color: hsl(0, 0%, 100%);
  font-size: 2em;
  padding: 3% 8% 0 8%;
  margin-bottom: 5%;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 110%;
  text-align: left;
}

.caixa1 span {
  color: hsl(277, 64%, 61%);
}

.caixa1 p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.8em;
  font-family: "Inter", sans-serif;
  padding: 3% 15% 0 8%;
  text-align: left;
  line-height: 180%;
  margin-bottom: 5%;
}

/* -  ultimo conteudo de caixa do bloco 1 */

.caixa-quantidade {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.conteudo-inc,
.conteudo-template,
.conteudo-qs {
  padding: 10px;
  margin: 5%;
  text-transform: uppercase;
}

.caixa-quantidade h2 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-weight: bold;
  text-align: left;
  padding-left: 8%;
}

.caixa-quantidade p {
  color: hsla(0, 0%, 100%, 0.6);
  text-align: left;
}

/* segundo bloco */

.caixa2 {
  width: 50%;
  background: hsl(277, 64%, 61%);
}

.caixa2 img {
  width: 100%;
  height: 100%;
  opacity: 55%;
}

/* mobile */

@media screen and (max-width: 375px) {
  .caixa-principal {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
  }

  /* caixa 1 */

  .caixa1 {
    width: 100%;
    height: 50%;
    padding-bottom: 30px;
  }

  .caixa1 h1 {
    font-size: 0.8em;
    text-align: center;
    padding: 0 28% 0 28%;
    line-height: 150%;
  }

  .caixa1 p {
    font-size: 0.5em;
    text-align: center;
    padding: 0 27% 0 27%;
  }

  .caixa-quantidade {
    margin-top: 10%;
    flex-direction: column;
  }

  .caixa-quantidade h2 {
    font-size: 0.5em;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .conteudo-template,
  .conteudo-inc,
  .conteudo-qs {
    margin: 0;
    padding: 0 8% 0 0;
  }

  .caixa-quantidade p {
    text-align: center;
    padding-left: 35%;
  }

  /* caixa 2 */

  .caixa2 {
    width: 100%;
    height: 50%;
  }

  .caixa2 img {
    width: 100%;
  }
}
